<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="index :: head">></head>
  <body>
    <header th:replace="index :: header"></header>

    <div class="register-photo" style="padding: 10px;">
      <div th:insert="index :: messages"></div>
      <!-- Start: Form Container -->
      <div class="form-container">
        <!-- Start: Image -->
        <div class="image-holder"><img th:attr="src=${user.getImageUrl()}"></div>
        <!-- End: Image -->
        <form method="post" th:action="@{/acknewuser}" th:object="${user}" >
          <h2 class="text-center"><strong>Your profile data</h2>
          <input type="hidden" th:field="*{id}">
          <input type="hidden" th:field="*{userType}">
          <div class="form-group"><input th:field="*{email}" class="form-control" type="email" name="email" readonly placeholder="Email"></div>
          <div class="form-group"><input th:field="*{name}" class="form-control" type="text" name="Name" readonly placeholder="Name"></div>
          <div class="form-group"><input th:field="*{iRacingId}" class="form-control" type="number" name="iRacingId" placeholder="iRacingId" required=""></div>
          <div class="form-group"><input th:field="*{clientMessageAccessToken}" readonly class="form-control" type="text"></div><label>The above token is needed configure the TeamTactics client logger on your iRacing machine.</label>
          <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: #2b913b;">Acknowleged</button></div>
        </form>
      </div>
      <!-- End: Form Container -->
    </div>

    <div th:insert="index :: footer"></div>
  </body>
</html>