<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>iRacing TeamTacics</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Coda+Caption:800">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Days+One">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
        <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="assets/css/styles.css">
        <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
        <link rel="stylesheet" href="assets/css/Profile-Edit-Form.css">
        <link rel="stylesheet" href="assets/css/Profile-Edit-Form-1.css">
    </head>
    <body>
        <header th:fragment="header" style="height: 10%;">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 text-nowrap text-truncate justify-content-center align-items-center" style="background-color: #a2b5f8;">
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 d-block align-self-center" style="padding-left: 0px;">
                    <a class="btn btn-block d-lg-flex" role="button" style="padding-left: 0px;background-image: url(&quot;assets/img/be-logo.png&quot;);background-size: cover;background-repeat: no-repeat;height: 70px;width: 70px" href="/"></a>
                </div>
                <div class="col-8 col-sm-7 col-md-8 col-lg-8 col-xl-7 flex-grow-1 flex-shrink-0 flex-fill">
                    <h1 style="font-style: italic;font-size: 32px;font-family: 'Coda Caption', sans-serif;color: rgb(255,255,255);">iRacing TeamTactics</h1>
                    <div class="clearfix"></div><span>Endurance race planning and live race tactics</span></div>
                <div class="col-2 col-sm-3 col-md-2 col-lg-1 col-xl-2 flex-shrink-1">
                    <a class="avatar-bg btn" role="button" th:style="'width: 70px;height: 70px;background-image: url('+ ${user.imageUrl} +');background-size: contain;background-repeat: no-repeat;'" href="/profile"></a>
                </div>
            </div>
        </header>
        <div th:fragment="messages">
            <div th:if="${!messages.infos().isEmpty()}" class="alert alert-success" role="alert" style="width: 100%;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <span th:each="err : ${messages.infos()}" th:text="${err.text}"><strong>Alert</strong> text.</span>
            </div>
            <div th:if="${!messages.errors().isEmpty()}" class="alert alert-danger" role="alert" style="width: 100%;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <span th:each="err : ${messages.errors()}" th:text="${err.text}"><strong>Alert</strong> text.</span>
            </div>
        </div>
        <div th:insert="${user.getUserType().equals('New user')} ? ~{user :: newuser} : ~{main.html :: main-content}"></div>
        <div th:fragment="footer">
            <footer style="height: 10%;">
                <div class="row">
                    <div class="col"><span style="font-size: 8px;">(C) 2020 bausdorf engineering</span></div>
                </div>
            </footer>
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="assets/js/Profile-Edit-Form.js"></script>
        </div>
    </body>
</html>