<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="index :: head"></head>
    <body>
        <header th:replace="index :: header"></header>

        <!-- planning content start -->
        <div class="container" style="background-color: rgb(255,255,255);">
            <div class="row">
                <div class="col-lg-8">
                    <div th:if="${viewMode.equals('schedule')}" th:fragment="schedule-table" class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Stint</th>
                                <th>Start Local</th>
                                <th>Start ToD</th>
                                <th th:each="driver : ${selectedPlan.getAllDrivers()}" th:text="${driver.getName()}">Dave</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="stint, stintStat: ${selectedPlan.getStints()}">
                                <td th:text="${stintStat.index + 1}">1</td>
                                <td th:text="${stint.getStartTimeString()}">00:04:53</td>
                                <td th:text="${stint.getTodStartTimeString()}">09:34:53</td>
                                <td th:each="driver : ${selectedPlan.getAllDrivers()}"
                                    th:text="${selectedPlan.getDriverStatusAt(driver.getId(), stint.getEndTime()).name()}"
                                    th:class="${selectedPlan.getDriverStatusAt(driver.getId(), stint.getEndTime()).cssClassName()}">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div th:if="${viewMode.equals('time') || viewMode.equals('variation')}" th:fragment="stint-table" class="table-responsive">
                        <form method="post" th:object="${stintDriverView}"  th:action="@{/updateStintDrivers(viewMode=${viewMode})}">
                            <input th:field="*{planId}" type="hidden">
                            <table class="table table-striped">
                                <thead style="vertical-align: middle;">
                                <tr class="text-center">
                                    <th style="vertical-align: middle;">Stint</th>
                                    <th style="vertical-align: middle;">Driver
                                        <button class="btn btn-primary" type="submit">
                                            <i class="far fa-save"></i>
                                        </button>
                                    </th>
                                    <th style="vertical-align: middle;">Start local</th>
                                    <th style="vertical-align: middle;">Start ToD</th>
                                    <th style="vertical-align: middle;">Laps</th>
                                    <th style="vertical-align: middle;">Duration</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="stint, stintStat: ${selectedPlan.getStints()}" class="text-center">
                                    <td th:text="${stintStat.index + 1}">1</td>
                                    <td>
                                        <select th:field="*{stintDrivers[__${stintStat.index}__]}" th:value="*{stintDrivers[__${stintStat.index}__]}" th:style="*{styles[__${stintStat.index}__]}">
                                            <option th:each="driver, driverStat : ${selectedPlan.getAvailableDrivers(stint.getEndTime())}"
                                                    th:value="${driver.name}"
                                                    th:selected="*{stintDrivers[__${stintStat.index}__]} == ${driver.name}"
                                                    th:text="${driver.name}"
                                                    th:class="${selectedPlan.getDriverStatusAt(driver.id, stint.getEndTime()).cssClassName()}">Dave</option>
                                            <option th:selected="*{stintDrivers[__${stintStat.index}__].equals('N.N.')}" value="N.N.">unassigned</option>
                                        </select>
                                    </td>
                                    <td th:text="${stint.getStartTimeString()}">00:04:53</td>
                                    <td th:text="${stint.getTodStartTimeString()}">09:34:53</td>
                                    <td th:text="${stint.getLaps()}">7</td>
                                    <td th:text="${stint.getStintDurationString(true)}">01:04:28</td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>


                <div class="col-lg-4">
                    <form method="post" th:action="@{/planning(viewMode=${viewMode})}" th:object="${selectedPlan}">
                        <div class="form-row">
                            <div class="col">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item border rounded">
                                        <a class="nav-link active bg-warning" th:href="@{/planning(viewMode='time', planId=*{id})}">
                                            <i class="fas fa-clock" style="font-size: 32px;"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item border rounded">
                                        <a class="nav-link bg-info" th:href="@{/planning(viewMode='schedule', planId=*{id})}">
                                            <i class="fa fa-users" style="font-size: 32px;"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item border rounded">
                                        <a class="nav-link bg-primary" th:href="@{/planning(viewMode='variation', planId=*{id})}">
                                            <i class="fas fa-road" style="font-size: 32px;color: white;"></i>
                                        </a>
                                    </li>
                                </ul>
                                <input th:field="*{id}" type="hidden">
                            </div>
                        </div>
                        <div th:if="${viewMode.equals('time')}">
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <input class="form-control" type="text" th:field="*{name}" placeholder="New race plan">
                                        <select th:field="*{trackId}" class="form-control" name="track" required="">
                                            <option th:each="track : ${tracks}" th:value="${track.id}" th:text="${track.name}">Nürburgring Combined 24</option>
                                        </select>
                                        <select th:field="*{teamId}" class="form-control" name="team" readonly="" style="margin-top: 5px;">
                                            <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}">FBP Racing RED</option>
                                        </select>
                                        <select th:field="*{carId}" class="form-control" name="car">
                                            <option th:each="car : ${cars}" th:value="${car.id}" th:text="${car.name}" selected="">BMW Z4 GT3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group"><label>Race start date</label>
                                        <input th:field="*{sessionStartDate}" class="form-control" type="date" required="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group"><label>Time (Local)</label>
                                        <input th:field="*{startLocalTime}" class="form-control" type="time" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group"><label>Race start date (Sim)</label>
                                        <input th:field="*{todStartDate}" class="form-control" type="date" name="raceStartTod" required="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group"><label>Time (ToD)</label>
                                        <input th:field="*{startTodTime}" class="form-control" type="time" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group"><label>Race duration</label>
                                        <input th:field="*{raceDuration}" class="form-control" type="text" name="raceDuration" placeholder="00:00:00" required="" pattern="^(?:(?:([0-9]?\d|2[0-9]):)?([0-5]?\d)$">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group"><label>Green flag offset</label>
                                        <input th:field="*{greenFlagOffsetTime}" class="form-control" type="text" placeholder="00:00:00" required="" pattern="^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group"><label>Nominal lap time</label>
                                        <input th:field="*{avgLapTime}" class="form-control" type="text" name="avgLapTime" placeholder="00:00:00" required="" pattern="^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group"><label>Pitstop duration</label>
                                        <input th:field="*{avgPitStopTime}" class="form-control" type="text" name="avgPitTime" placeholder="00:00:00" required="" pattern="^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):)?([0-5]?\d)$">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group"><label>Max. fuel</label>
                                        <input th:field="*{maxCarFuel}" class="form-control" type="text" name="maxFuel" placeholder="115,5" required="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group"><label>Avg. fuel per lap</label>
                                        <input th:field="*{avgFuelPerLap}" class="form-control" type="text" name="avgFuelPerLap" placeholder="9,84" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-primary btn-block" type="submit">
                                    <i class="far fa-save" style="font-size: 32px;"></i>
                                </button>
                            </div>
                        </div>
                        <div th:if="${viewMode.equals('schedule')}">
                            <input th:field="*{maxCarFuel}" type="hidden">
                            <input th:field="*{avgFuelPerLap}" type="hidden">
                            <input th:field="*{sessionStartTime}" type="hidden">
                            <input th:field="*{todStartTime}" type="hidden">
                            <input th:field="*{avgLapTime}" type="hidden">
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-group">
                                        <select th:field="*{allDriverIds}" class="form-control" multiple style="height: 10em;">
                                            <option th:each="driver : ${authorizedDrivers}" th:value="${driver.getId()}" th:text="${driver.getName()}" selected="*{allDrivers.contains(driver)}">Dave</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-primary btn-block" type="submit">
                                    <i class="fas fa-user-check" style="font-size: 32px;"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <form th:if="${viewMode.equals('schedule')}" method="post" th:action="@{/updateSchedule(viewMode=${viewMode})}" th:object="${teamSchedule}">
                        <input th:field="*{planId}" type="hidden">
                        <div class="form-row">
                            <div class="col">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                        <div th:each="driverSchedule, scheduleStat : *{teamSchedule}">
                                            <input th:field="*{teamSchedule[__${scheduleStat.index}__].driverName}" type="hidden">
                                            <input th:field="*{teamSchedule[__${scheduleStat.index}__].driverId}" type="hidden">
                                            <input th:field="*{teamSchedule[__${scheduleStat.index}__].validated}" type="hidden">
                                            <tr>
                                                <td colspan="3" th:text="${driverSchedule.driverName}">Dave</td>
                                            </tr>
                                            <tr th:each="entry, entryStat : ${driverSchedule.scheduleEntries}">
                                                <td>
                                                    <input type="hidden" th:field="*{teamSchedule[__${scheduleStat.index}__].scheduleEntries[__${entryStat.index}__].validFromDate}">
                                                    <input type="time"  class="form-control"
                                                            th:field="*{teamSchedule[__${scheduleStat.index}__].scheduleEntries[__${entryStat.index}__].validFromTime}"
                                                            th:readonly="${entryStat.index == 0}"/>
                                                </td>
                                                <td>
                                                    <select th:field="*{teamSchedule[__${scheduleStat.index}__].scheduleEntries[__${entryStat.index}__].status}" th:class="${entry.status.cssClassName() + ' form-control'}" th:onchange="'this.className = this.value.concat(&quot; form-control&quot;)'">
                                                        <option value="bg-success" class="bg-success" th:selected="entry.status == 'bg-success'">OPEN</option>
                                                        <option value="bg-warning" class="bg-warning" th:selected="entry.status == 'bg-warning'">TENTATIVE</option>
                                                        <option value="bg-danger" class="bg-danger" th:selected="entry.status == 'bg-danger'">BLOCKED</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <a th:if="${entryStat.index != 0}" th:href="@{/deleteScheduleEntry(driverId=${driverSchedule.driverId}, timeslot=${entry.validFromTime}, viewMode=${viewMode}, planId=${selectedPlan.id})}">
                                                        <button type="button" class="btn btn-primary">
                                                            <i class="far fa-calendar-times" style="font-size: 20px;"></i>
                                                        </button>
                                                    </a>
                                                </td>
                                            </tr>
                                        </div>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary btn-block" type="submit">
                                <i class="far fa-save" style="font-size: 32px;"></i>
                            </button>
                        </div>
                    </form>
                    <form th:if="${viewMode.equals('schedule')}" method="post" th:action="@{/addScheduleEntry(viewMode=${viewMode})}" th:object="${newScheduleEntry}">
                        <input th:field="*{planId}" type="hidden">
                        <div class="form-row">
                            <div class="col">
                                <strong>Add new schedule entry for</strong>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <select th:field="*{driverId}" class="form-control" name="car" readonly="" style="margin-top: 5px;">
                                        <option th:each="driver : ${selectedPlan.allDrivers}" th:value="${driver.id}" th:text="${driver.name}">Dave</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group"><input th:field="*{timeFrom}" class="form-control" type="time" required=""></div>
                            </div>
                            <div class="col">
                                <select th:field="*{status}" th:class="*{status.cssClassName() + ' form-control'}" th:onchange="'this.className = this.value.concat(&quot; form-control&quot;)'">
                                    <option value="bg-success" class="bg-success" th:selected="entry.status == 'bg-success'">OPEN</option>
                                    <option value="bg-warning" class="bg-warning" th:selected="entry.status == 'bg-warning'">TENTATIVE</option>
                                    <option value="bg-danger" class="bg-danger" th:selected="entry.status == 'bg-danger'">BLOCKED</option>
                                </select>
                            </div>
                            <div class="col">
                                <div class="form-group text-center">
                                    <button class="btn btn-primary btn-block" type="submit">
                                        <i class="far fa-calendar-check" style="font-size: 20px;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form th:if="${viewMode.equals('variation')}" method="post" th:action="@{/updateEstimations(viewMode=${viewMode})}" th:object="${teamEstimations}">
                        <input th:field="*{planId}" type="hidden">
                        <div  th:each="driverEstimation, estimationStat : *{teamEstimations}">
                            <input th:field="*{teamEstimations[__${estimationStat.index}__].driverName}" type="hidden">
                            <input th:field="*{teamEstimations[__${estimationStat.index}__].driverId}" type="hidden">
                            <input th:field="*{teamEstimations[__${estimationStat.index}__].validated}" type="hidden">
                            <div class="form-row">
                                <div class="col">
                                    <div class="form-row">
                                        <h4 th:text="${driverEstimation.driverName}">Dave</h4>
                                    </div>
                                </div>
                            </div>
                            <div th:each="entry, entryStat : ${driverEstimation.estimationEntries}">
                                <input type="hidden" th:field="*{teamEstimations[__${estimationStat.index}__].estimationEntries[__${entryStat.index}__].validFromDate}">
                                <div class="border rounded"  style="margin-bottom: 15px;padding-top: 5px;padding-left: 5px;padding-right: 5px;">
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group">
                                                <input type="time"  class="form-control"
                                                       th:field="*{teamEstimations[__${estimationStat.index}__].estimationEntries[__${entryStat.index}__].validFromTime}"/>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <a th:href="@{/deleteEstimationEntry(driverId=${driverEstimation.driverId}, timeslot=${entry.validFromTime}, viewMode=${viewMode}, planId=${selectedPlan.id})}">
                                                    <button type="button" class="btn btn-primary">
                                                        <i class="far fa-calendar-times" style="font-size: 20px;"></i>
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="form-group"><label>Avg. lap time</label>
                                                <input type="text" th:field="*{teamEstimations[__${estimationStat.index}__].estimationEntries[__${entryStat.index}__].avgLapTime}" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group"><label>Avg. fuel per lap</label>
                                                <input type="text" th:field="*{teamEstimations[__${estimationStat.index}__].estimationEntries[__${entryStat.index}__].avgFuelPerLap}" class="form-control"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="*{teamEstimations.size() > 0}" class="form-row">
                            <div class="col">
                                <div class="form-group text-center">
                                    <button class="btn btn-primary btn-block" type="submit">
                                        <i class="far fa-save" style="font-size: 32px;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form th:if="${viewMode.equals('variation')}" method="post" th:action="@{/addEstimationEntry(viewMode=${viewMode})}" th:object="${newEstimationEntry}">
                        <input th:field="*{planId}" type="hidden">
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <select th:field="*{driverId}" class="form-control" name="car" readonly="" style="margin-top: 5px;">
                                        <option th:each="driver : ${selectedPlan.allDrivers}" th:value="${driver.id}" th:text="${driver.name}">Dave</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group"><label>Time of day</label>
                                    <input th:field="*{timeFrom}" class="form-control" type="time" required="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group text-center"><label>Add new estimation</label>
                                    <button class="btn btn-primary btn-block" type="submit">
                                        <i class="fas fa-user-clock" style="font-size: 20px;"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group"><label>Avg. lap time</label>
                                    <input type="text" th:field="*{avgLapTime}" class="form-control" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group"><label>Avg. fuel per lap</label>
                                    <input type="text" th:field="*{avgFuelPerLap}" class="form-control" required>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <script src="assets/js/bs-init.js"></script>
        <!-- End: Team content -->

        <div th:insert="index :: footer"></div>
    </body>
</html>
