<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="index :: head"></head>
  <body>
    <header th:replace="index :: header"></header>

    <!-- setup content start -->
    <div class="row">
      <div class="col-lg-6 offset-lg-3 text-left" style="margin-top: 20px;">
        <h4 class="text-left">Setup TeamTactics</h4>
        <p class="text-left">Download and install the client software package on <strong>your iRacing computer</strong>.</p>
        <div class="alert alert-warning text-left" role="alert" style="width: 490px;">
          <h4 class="alert-heading">
            <i class="fas fa-exclamation-triangle" style="color: rgb(255,155,4);"></i>
          </h4>
          <span class="text-left">
            <strong>It's recommended to install the software just for your own user - not for all users on your computer.&nbsp;</strong>
          </span>
        </div>
        <a th:href="'https://github.com/simracingtools/teamtactics/releases/download/' + ${currentClientVersion} + '/TeamTactics2Setup.exe'">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-cloud-download-alt"></i>Download
          </button>
        </a>
        <span th:text="'Current TeamTactics-Client Version: ' + ${currentClientVersion}">Current TeamTactics-Client Version: </span>
        <p><br>During installation you will need your iRacing ID and your personal <br>client access token. The following values are saved in your&nbsp;<a href="/profile">profile</a>:<br><br>iRacing ID:&nbsp;<span th:text="${user.iRacingId}" style="font-family: 'Roboto Mono', monospace;">123456</span><br>Client access token:&nbsp;<span th:text="${user.clientMessageAccessToken}" style="font-family: 'Roboto Mono', monospace;">client access token</span><br></p>
        <p>You may now complete your software setup.</p>
        <p>Start the client software (There should be an Icon on your desktop) and go racing. Follow your team members data on the <a href="https://iracing-team-tactics.appspot.com" target="_blank">TeamTactics Server</a>.</p>
      </div>
    </div>
    <script src="assets/js/bs-init.js"></script>
    <!-- End: setup content -->

    <div th:insert="index :: footer"></div>
  </body>
</html>
