<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="index :: head">></head>
    <body>
        <header th:replace="index :: header"></header>

        <!-- Start: Team content -->
        <div class="container" style="background-color: rgb(255,255,255);">
            <div th:insert="index :: messages"></div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Team name</th>
                                    <th>Team ID</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="team, teamStat : ${teams}">
                                    <td th:text="${team.name}">FBP Racing RED</td>
                                    <td th:text="${team.id}">47110815</td>
                                    <td>
                                        <button th:onclick="'confirmTeamDelete(' + ${teamStat.index} + ')'" class="btn btn-primary" data-toggle="tooltip" data-bs-tooltip="" type="button" style="margin: 0px 5px;" title="Remove this team"><i class="fas fa-trash-alt"></i></button>
                                        <a th:href="@{/teams(teamId=${team.id})}">
                                            <button class="btn btn-primary" type="button" style="margin: 0px 5px;"><i class="far fa-copy" data-toggle="tooltip" data-bs-tooltip="" title="Select team"></i></button>
                                        </a>
                                        <div th:id="'team-delete-confirm-' + ${teamStat.index}" class="modal fade" role="dialog" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Confirm delete</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p th:text="'Do you really want to delete team ' + ${team.name} + ' ?'">Do you really want to delete team ?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a th:href="@{/deleteTeam(teamId=${team.id})}">
                                                            <button class="btn btn-primary" type="button">Delete</button>
                                                        </a>
                                                        <button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr th:if="${teams.isEmpty()}">
                                    <td colspan="3">No teams available</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col">
                    <h3 style="margin-top: 5px">Team details</h3>
                    <form method="post" th:action="@{/teams}" th:object="${selectedTeam}">
                        <input type="hidden" th:field="*{ownerId}">
                        <input type="hidden" th:field="*{currentUserTeamAdmin}">
                        <div class="form-group">
                            <input class="form-control" th:field="*{name}" type="text" name="teamName" placeholder="Team name" required="">
                        </div>
                        <div class="form-group"><input th:field="*{id}" class="form-control" type="number" name="teamId" placeholder="iRacing team ID" min="0" required=""></div>
                        <div class="form-group">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Driver name</th>
                                            <th>Driver iRacing ID</th>
                                            <th>Team admin</th>
                                            <th>Validated</th>
                                            <th>Owner</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-left">
                                        <tr th:each="driver, driverStat : *{authorizedDrivers}" class="text-left">
                                            <input type="hidden" th:field="*{authorizedDrivers[__${driverStat.index}__].id}">
                                            <input type="hidden" th:field="*{authorizedDrivers[__${driverStat.index}__].name}">
                                            <td th:text="*{authorizedDrivers[__${driverStat.index}__].name}">Name</td>
                                            <td th:text="*{authorizedDrivers[__${driverStat.index}__].id}">123456</td>
                                            <td class="text-center">
                                                <input type="checkbox" th:field="*{authorizedDrivers[__${driverStat.index}__].teamAdmin}" th:disabled="*{authorizedDrivers[__${driverStat.index}__].owner}">
                                            </td>
                                            <td class="text-center">
                                                <i th:if="*{authorizedDrivers[__${driverStat.index}__].validated}" class="far fa-check-circle" style="color: rgb(15,0,184);"></i>
                                                <i th:if="!*{authorizedDrivers[__${driverStat.index}__].validated}" class="far fa-times-circle" style="color: rgb(251,31,1);"></i>
                                            </td>
                                            <td>
                                                <i th:if="*{authorizedDrivers[__${driverStat.index}__].owner}" class="far fa-check-circle" style="color: rgb(15,0,184);"></i>
                                                <i th:if="!*{authorizedDrivers[__${driverStat.index}__].owner}" class="far fa-times-circle" style="color: rgb(251,31,1);"></i>
                                            </td>
                                            <td>
                                                <button th:if="!*{authorizedDrivers[__${driverStat.index}__].owner}" th:onclick="'confirmMemberRemove(' + ${driverStat.index} + ')'"
                                                        class="btn btn-primary" data-toggle="tooltip" data-bs-tooltip="" type="button" style="margin: 0px 5px;" title="Remove this team member from team">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                                <div th:id="'member-remove-confirm-' + ${driverStat.index}" class="modal fade" role="dialog" tabindex="-1">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Confirm remove</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p th:text="'Do you really want to remove ' + *{authorizedDrivers[__${driverStat.index}__].name} + ' from team ' + *{name} + ' ?'">Do you really want to remove team member ?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a th:href="@{/removeTeamMember(teamMemberId=*{authorizedDrivers[__${driverStat.index}__].id}, teamId=*{id})}">
                                                                    <button class="btn btn-primary" type="button">Remove</button>
                                                                </a>
                                                                <button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div th:if="${selectedTeam.currentUserTeamAdmin}" class="form-group text-center"><button class="btn btn-primary btn-block" type="submit">Save</button></div>
                    </form>
                    <form th:if="${selectedTeam.id != null && selectedTeam.currentUserTeamAdmin}" method="post" th:action="@{/newDriver}" th:object="${newDriver}">
                        <input type="hidden" th:field="*{teamId}" th:value="${selectedTeam.id}">
                        <div class="form-group">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Driver name</th>
                                            <th>Driver iRacing ID</th>
                                            <th>Team admin</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input th:field="*{name}" class="form-control" type="text" name="newDriverName" placeholder="Driver name"></td>
                                            <td><input th:field="*{id}" class="form-control" type="number" placeholder="000000" name="newIracingId"></td>
                                            <td class="text-center"><input th:field="*{teamAdmin}" type="checkbox"></td>
                                            <td></td>
                                            <td><button class="btn btn-primary" type="submit" title="Add driver to team"><i class="fas fa-plus-square"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="assets/js/bs-init.js"></script>
        <!-- End: Team content -->

        <div th:insert="index :: footer"></div>
    </body>
</html>